body{
    background-color: black;
    color: white;
}
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.page-title{
    margin: 0;
    font-size: 25px;
    letter-spacing: 2px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.nav-bar{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar-item a{
    text-decoration: none;
    margin-left: 20px; 
    color: white;
    letter-spacing: 1px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#search-bar-title{
    text-align: center;
    font-size: 30px;
    color: blue;
    letter-spacing: 2px;
    font-family: Shrikhand, Arial, Helvetica, sans-serif;
    margin-bottom: 35px;
}

#search-bar-form{
    max-width:600px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5px;
    background-color: rgb(204, 204, 244);
    border: 2px solid blue;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 15px;
}

#search{
    width: 400px;
    border: 1px solid blue;
    padding: 6px;
    border-radius: 3px;
    font-style: italic;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

input[type=button],#prev-button, #next-button, #copy-button{
    padding:6px 10px;
    border: 1px solid blue;
    border-radius: 3px;
    color:rgb(204, 204, 244);
    background-color:blue;
    cursor: pointer;
}

#gif-section-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.gif-item{
    flex: 1 1 calc(25% - 32px);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.gif-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: white;
}

#pagination-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px;
}

#pagination-page-num{
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#modal-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1001;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    overflow: auto;
    background-color:pink;
    border:3px solid blue;
}

.modal-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    text-align: center;
}

#zoomed-gif{
    width: 60%;
    height: 60%;
    object-fit: contain;
    margin-bottom: 20px;
}

.close-button{
    position: absolute;
    top: 10px;
    right: 20px;
    color:blue;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#quiz-header{
    text-align: center;
    font-family: Shrikhand, Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    color:yellow;
}

#take-quiz-form{
    max-width:600px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5px;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 15px;
}

#take-quiz-button{
    padding:6px 10px;
    border: 2px solid black;
    border-radius: 3px;
    color:black;
    background-color:yellow;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

#quiz-section-container{
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

}

#quiz-title{
    margin-bottom: 30px;
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: Shrikhand, Arial, Helvetica, sans-serif;
    letter-spacing: 2px;

}

.quiz-images{
   width: 80%;
   height: 400px;
   object-fit: cover;
   margin-bottom: 20px;
   border-radius: 5px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.quiz-question{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}


.quiz-answers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    color: black;
}

.quiz-answer-options{
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid gray;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    background-color: lightgrey;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    box-sizing: border-box;
}

.quiz-answer-options.selected{
    background-color: lightskyblue;
    border-color: blue;
}

#result{
    color: black;
    font-size:24px;
    letter-spacing: 1px;
    font-family: Shrikhand, Arial, Helvetica, sans-serif;
}
/* Had to change max width size since my screen wouldnt go that small */

@media screen and (max-width: 900px){
    #quiz-section-container{
        max-width: 600px;
    }
}


@media screen and (max-width: 768px){
    .page-header{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-bar{
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
    .nav-bar-item a{
        margin-left: 0;
    }

    #search{
        width: 350px;
    }
    #gif-section-container{
        flex-direction: column;
        align-items: center;
    }
    .git-item{
        flex: 1 1 calc(100% - 32px);
    }
    .gif-img, .quiz-images{
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    .modal{
        width: 400px;
        height: 400px;
    }
    #quiz-header{
        font-size: 20px;
    }
    #quiz-section-container{
        max-width: 400px;
    }
    .quiz-answers{
        grid-template-columns: 1fr;
    }

}
